/********** reset **********/
/*
body #dj-classifieds div, 
body #dj-classifieds span, 
body #dj-classifieds iframe,
body #dj-classifieds .dj-category h1,
body #dj-classifieds .dj-items-blog h1,
body #dj-classifieds .items h1, 
body #dj-classifieds .dj-cattree-box h1,
body #dj-classifieds .useritems h1,
body #dj-classifieds .dj-additem h1,
body #dj-classifieds .dj-item h1,
body #dj-classifieds .dj-category h2,
body #dj-classifieds .dj-items-blog h2,
body #dj-classifieds .items h2, 
body #dj-classifieds .dj-cattree-box h2,
body #dj-classifieds .useritems h2,
body #dj-classifieds .dj-additem h2,
body #dj-classifieds .dj-item h2, 
body #dj-classifieds .dj-category h3,
body #dj-classifieds .dj-items-blog h3,
body #dj-classifieds .items h3, 
body #dj-classifieds .dj-cattree-box h3,
body #dj-classifieds .useritems h3,
body #dj-classifieds .dj-additem h3,
body #dj-classifieds .dj-item h3, 
body #dj-classifieds p, 
body #dj-classifieds a, 
body #dj-classifieds img,
body #dj-classifieds ul, 
body #dj-classifieds li,
body #dj-classifieds fieldset, 
body #dj-classifieds form, 
body #dj-classifieds label, 
body #dj-classifieds legend,
body #dj-classifieds table, 
body #dj-classifieds tbody, 
body #dj-classifieds thead, 
body #dj-classifieds tr, 
body #dj-classifieds th, 
body #dj-classifieds td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
body #dj-classifieds iframe,
body #dj-classifieds .dj-category h1,
body #dj-classifieds .dj-items-blog h1,
body #dj-classifieds .items h1, 
body #dj-classifieds .dj-cattree-box h1,
body #dj-classifieds .useritems h1,
body #dj-classifieds .dj-additem h1,
body #dj-classifieds .dj-item h1,
body #dj-classifieds .dj-category h2,
body #dj-classifieds .dj-items-blog h2,
body #dj-classifieds .items h2, 
body #dj-classifieds .dj-cattree-box h2,
body #dj-classifieds .useritems h2,
body #dj-classifieds .dj-additem h2,
body #dj-classifieds .dj-item h2, 
body #dj-classifieds .dj-category h3,
body #dj-classifieds .dj-items-blog h3,
body #dj-classifieds .items h3, 
body #dj-classifieds .dj-cattree-box h3,
body #dj-classifieds .useritems h3,
body #dj-classifieds .dj-additem h3{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#dj-classifieds a {
	text-decoration: none;
	color: #004B90;
}

#dj-classifieds a:hover {
	text-decoration: underline;
}

/********** pagination **********/

#dj-classifieds .pagination {
	border: none !important;
    text-align: center;
}

#dj-classifieds .pagination ul {
	text-align: right;
}

#dj-classifieds .pagination ul li {
	border: 1px solid #EAEAEA;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 2px 5px;
}

#dj-classifieds .pagination ul li a {
	color: #004b90;
}

/********** category tree **********/ 

#dj-classifieds .dj-cattree-box ul.dj-cattree {
	list-style-position: inside;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree ul {
	list-style-position: inside;
	padding-left: 15px;
}

/********** add item **********/

#dj-classifieds input[type="text"], 
#dj-classifieds input[type="email"], 
#dj-classifieds select, 
#dj-classifieds textarea, 
.defaultSimpleSkin iframe,
#dj-classifieds .mce-tinymce {
    background: #ffffff url(../images/inputbox_classifieds.gif) repeat-x;
    border-color: #CCCCCC #E7E7E7 #E7E7E7 !important;
    border-left: 1px solid #E7E7E7 !important;
    border-right: 1px solid #E7E7E7 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    padding: 5px 10px 4px;
}
#dj-classifieds .mce-tinymce{
	min-width:400px;
}
.radiofield_box input[type="radio"]{
	float:left;
}

.radiofield_box .radio_label{
    line-height: 80%;
    margin: 0 0 0 10px !important;
    float: left;
}

.radiofield_box input {
	float:left;
	vertical-align: middle;
}

#form-search .radiofield_box .radio_label{
    line-height: 120%;
    margin-top: 0 !important;
}

.search_ex_fields input.inputbox[type="radio"]{
	width:auto !important;
}
.dj_cf_search .se_checkbox div{
	width: 50%;
}
.dj_cf_search .se_checkbox div .radio_label{
	float: none !important;
    margin: 0 0 0 7px !important;
}

#form-search .radiofield_box div,
#form-search .se_checkbox div{
	margin: 0 0 2px;
}
/*
#dj-classifieds input[type="radio"] {
    opacity: 0;
    position: absolute;
}

#dj-classifieds .radiofield_box div {
	margin: 0 0 2px;
}

#dj-classifieds .radiofield_box input[type="radio"] {
    opacity: 1;
    position: relative;
}

#dj-classifieds label {
    background-position: -13px -26px;
}

#dj-classifieds input[type="radio"]:checked + label:before {
    background-position: -13px -26px;
}

#dj-classifieds input[type="radio"] + label:before {
    background: url(../images/sprite-radio-checkbox.png) no-repeat;
    content: "";
    display: inline-block;
    height: 13px;
    line-height: 13px;
    margin: 0 8px 0 0;
    vertical-align: middle;
    width: 13px;
}

#dj-classifieds input[type="radio"] + label:before {
    background-position: -13px 0;
}

#dj-classifieds input[type="radio"], 
#dj-classifieds input[type="checkbox"]{
    float: left;
    margin: 0;
    padding: 0;
}
*/
#dj-classifieds button,
#dj-classifieds .button,
.dj_cf_search button.button,
.dj_cf_search a.button,
.dj_cf_regions_selects button.button {
	background: url(../images/button_djclass.gif) repeat-x;
	border: none;
    border-bottom: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    float: left;
    padding: 6px 8px;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;	
}
#dj-classifieds .djreviews button{
	float:none;
}
#dj-classifieds .djreviews button.pull-right{
	float:right;
}
.dj_cf_search.dj_cf_search_horizontal button{
	float:none;
}
#dj-classifieds .payment_td .button{
	float:none;
	white-space: nowrap;
	display: inline-block;
	margin-bottom:5px;
}
.dj_cf_search a.button{
	margin: 0 0 0 15px;
	padding: 7px 8px;
}
#dj-classifieds button:hover,
#dj-classifieds .button:hover,
.dj_cf_search button.button:hover,
.dj_cf_regions_selects button.button:hover {
	background: url(../images/button_djclass.gif) repeat-x 0 -32px;
	text-decoration: none;
}
.dj_cf_search a.button:hover{
	color:#333333 !important;
	background: url(../images/button_djclass.gif) repeat-x 0 -32px !important;
	text-decoration: none;
}
#dj-classifieds #ask_form_button{
	margin: 0px 10px 10px 0;
}
/********** module menu **********/

.djcf_menu .module_content ul.menu {
	border: none;
	background: #ffffff;
}

.djcf_menu ul.menu, 
.djcf_menu ul#mainlevel {
    list-style: none outside;
	margin: 0;
	padding: 0;
}

.djcf_menu ul.menu li, 
.djcf_menu ul#mainlevel li {
    list-style: none outside;
}

.djcf_menu ul.menu li a, 
.djcf_menu ul#mainlevel li a {
    background: url(../images/li_margin.png) no-repeat right center;
    border-bottom: 1px solid #EAEAEA;
    color: #6E6F71;
    display: block;
    font-size: 95%;
    margin: 0;
    padding: 10px 15px 10px 10px;
}

.djcf_menu ul.menu li a:hover, 
.djcf_menu ul.menu li.active a, 
.djcf_menu ul#mainlevel li a:hover, 
.djcf_menu ul#mainlevel li a#active_menu {
    background: url(../images/li_active_margin.png) no-repeat right center #5E5E5E;
    color: #FFFFFF;
    text-decoration: none;
}

.djcf_menu ul.menu li.active li a:hover, 
.djcf_menu ul.menu li.active li.active li a:hover, 
.djcf_menu ul.menu li.active li.active li.active li a:hover, 
.djcf_menu ul.menu li.active li.active a, 
.djcf_menu ul.menu li.active li.active li.active a, 
.djcf_menu ul.menu li.active li.active li.active li.active a { 
    background: url(../images/li_margin.png) no-repeat right center #F7F7F7;
}

.djcf_menu ul.menu li.active li a, 
.djcf_menu ul.menu li.active li.active li a, 
.djcf_menu ul.menu li.active li.active li.active li a, 
.djcf_menu ul.menu li.active li.active li.active li.active li a { 
    background: url(../images/li_margin.png) no-repeat right center #EAEAEA;
    border-bottom: 1px solid #F7F7F7;
    color: #6E6F71;
}

.djcf_menu ul.menu li.active li ul li a {
	padding-left: 20px;
}

.djcf_menu .newad_link_top,
.djcf_menu .newad_link_bottom {
	padding: 10px 0 10px 10px;
}

/********** module search **********/

.dj_cf_search input[type="text"],
.dj_cf_search select,
.dj_cf_regions_selects input[type="text"],
.dj_cf_regions_selects select,  
.payment_td input,
.payment_td select {
	background: url(../images/inputbox_classifieds.gif) repeat-x #FFFFFF;
    border-color: #CCCCCC #E7E7E7 #E7E7E7 !important;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 5px 10px 4px;
    width: 91%;
}
.dj_cf_regions_selects select.inputbox{
	width: 200px;
	float: left;
	margin-right: 20px;
}

.dj_cf_search input.djsecal{
	width: 30%;
}

.payment_td input.image_submit {
	background: none;
	border: none !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	width: auto;
}
.dj_cf_regions_selects select,
.dj_cf_search select {
    color: #656565;
}

.dj_cf_regions_selects input.inputbox,
.dj_cf_search input.inputbox, 
.search_ex_fields input.inputbox {
    color: #656565;
}
.dj_cf_search .search_radius .inputbox{
	width:47% !important;
	display: inline-block;
}
.dj_cf_search .search_radius select.inputbox{
	width:100% !important;
}
.dj_cf_search .search_radius.se_radius_postcode .search_radius_range{
	width: 38%;
	display: inline-block;
	vertical-align: top;
}
.dj_cf_search .search_radius.se_radius_address .inputbox{
	width:90% !important;
}
.dj_cf_search .search_radius.se_radius_address select.inputbox{
	width:100% !important;
}
.dj_cf_search.dj_cf_search_horizontal input.inputbox.first_input {
      min-height: 29px;
 }
 .dj_cf_search.dj_cf_search_horizontal .search_radius input {
      min-height: 29px;
 }
 .dj_cf_search .search_radius.se_radius_geoloc .se_geoloc_or_label{
  		margin:0 5px;
  }

.dj_cf_search .search_radius.djcf_se_row.se_radius_geoloc .search_radius_range{
	display: inline-block;
}
.dj_cf_search .search_radius.djcf_se_row.se_radius_geoloc select.inputbox{
	width: 100% !important;
}
.dj_cf_search .search_radius.djcf_se_row.se_radius_geoloc .se_geoloc_address{
	font-size: 12px;
	color:#656565;
	margin:-5px 0 5px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.dj_cf_search .search_radius.djcf_se_row.se_radius_geoloc .se_geoloc_address:hover{
	white-space:normal;
	overflow: visible;
}
.clear_both{
	clear:both;
}