.cpanel-left .cpanel{
	padding: 20px 0 0 20px
}
.inputbox, select, input, textarea {
	padding: 4px;
	color: #333;
}

.adminlist .jgrid span.downarrow, .adminlist .jgrid span.uparrow {
    width: 13px;
}
.djcfspacer.djtitle {
	display: inline-block;
	background: #f7f7f7;
	color: #2678CD;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin-top: 10px;
	text-indent: 10px;
}
.djcfspacer.djtitle label{
	margin: 5px 0;
}
form div.current label, 
form div.current span.faux-label {
	margin: 3px 0 !important;
	padding: 5px 10px 5px 0;
	text-align: right;
}
ul#rules table.group-rules td label {
	text-align: left;
}
div fieldset.adminform label, 
div fieldset.adminform span.faux-label {
	padding: 5px 0;
}
div fieldset.adminform fieldset.radio,
.panel fieldset.panelform fieldset.radio {
	padding-top: 5px;
}
form div.current fieldset.radio label,
div fieldset.adminform fieldset.radio label, 
.panel fieldset.panelform fieldset.radio label {
	padding: 0 10px 0 0;
	text-align: left;
}
form div.current select {
	margin-bottom:0;
}
#map img{
	max-width:none;
}
/*.djcf-items-table{
	table-layout: fixed;
}*/
.djcf-items-table .djcf-items-desc{
	overflow: hidden;
	text-overflow: ellipsis;
}

#itemImagesWrap {
	margin: 0 0 10px 0;
}
#itemImages .itemImage {
	position: relative;
	float: left;
	margin: 0 2px 2px 0;
	overflow: hidden;
}
#itemImages .itemImage img {
	float: none;
	margin: 0;
	padding: 0;
	height: 150px;
}
#itemImages .itemImage .imgMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(images/bg.png) repeat;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	cursor: move;
}
#itemImages .itemImage:hover .imgMask,
#itemImages .itemImage.active .imgMask {
	opacity: 1;
}
#itemImages input.itemInput {
	position: absolute;
	bottom: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding: 6px 6px 6px 28px;
	margin: 0;
	border: 0;
	width: 100%;
	background-color: transparent;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border-radius: 0;
	box-shadow: none;
	height: auto;
}
#itemImages input.itemInput:focus {
	/* old browsers */
	background-color: rgb(50, 50, 50);
	/* modern browsers */
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: none;
}
#itemImages .imgMask input.editTitle {
	background-image: url(images/edit.png);
	background-position: 6px center;
	background-repeat: no-repeat;
}
#itemImages .itemImage .delBtn {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 32px;
	height: 32px;
	background: url(images/delete.png) no-repeat;
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
#itemImages .itemImage .delBtn:hover {
	opacity: 1;
}

#auctions .bids_list{
	width: 100%;
	max-width: 500px;
}
#auctions .bids_list .bids_row{
	border-bottom: 1px solid #ccc;		
}
#auctions .bids_list .bids_row.no_bids_row{
	border:none;
}
#auctions .bids_list .bids_col{
	width: 30%;
	float:left;	
	padding:7px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
}
#auctions .bids_list .bids_col.bids_col_del{
	width: 10%;	
}
#auctions .bids_list .bids_col.bids_col_del a{
	color:red;
	font-weight: bold;
}
#auctions .bids_list .bids_row_title .bids_col{
	text-align: center;
	font-weight: bold;
}
#auctions .bids_list .bids_row .bids_col.bids_col_name{
	text-align: left;
}
#auctions .bids_list .bids_row .bids_col{
	text-align: center;
}
/*
* Licence Manager
*/
.djlic_box{
    width: 300px;
    margin: 20px 30px 20px 0 ;
    padding-top:180px;
    background: #f4f4f4 url(images/lic_icon.png) center 15px no-repeat;
}
.cpanel .djlic_box .djlic_title{
    text-align: center;
    font-size: 24px;
    color:#444444;
    margin-bottom:7px;
}
.cpanel .djlic_box .djlic_separator{
    height:1px;
    margin:15px 0;
    background: url(images/lic_line.gif) center no-repeat;
    width:100%;
    float:left;
}
.cpanel .djlic_box .djlic_line{
    font-size: 12px;
    text-transform: uppercase;
    color:#7e7e7e;    
    line-height: 26px;
    text-align: right;
}
.cpanel .djlic_box .djlic_line.djll4{
    text-align: center;
}
.cpanel .djlic_box .djlic_line.djll4 a{
    color:#387ba5;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
.cpanel .djlic_box .djlic_line.djll4.update a{
    color:#ed1c24;
}
.cpanel .djlic_box .djlic_line span{
    display: inline;
    color:#444444;
    font-weight: bold;
    width:45%;
    text-align: left;
    margin-left:5%;
    display: inline-block;
    float:right;
}
.cpanel .djlic_box .djlic_line.djll1 span{
    font-size: 15px;
}
.cpanel .djlic_box .djlic_line.djll2 span{
    font-size: 14px;
}
.cpanel .djlic_box .djlic_line.djll3 span{
    font-size: 15px;
}

.cpanel .djlic_box .djlic_icon {
    position: absolute;
    width:22px;
    height:22px;
    margin-left: -11px;
    top:-10px;
    left:50%;
}

.cpanel .djlic_box .djlic_invalid {
    margin-top:20px;
    background: #fdebe7;
    border: 1px solid #f09f8d;
    border-radius: 0px;
    padding: 25px 10px 10px 10px;
    color:#e8370f;
    text-align: center;
    display: block;
    position: relative;
}

.cpanel .djlic_box .djlic_invalid .djlic_iline1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}
.cpanel .djlic_box .djlic_invalid .djlic_iline2{
    font-size: 14px;
    color:#ed1c24;
    margin: 6px 10px;
    display:block;    
    font-weight: normal;
}
.cpanel .djlic_box .djlic_invalid .djlic_iline3{
    font-size: 9px;
    text-transform: uppercase;
    display:block;
}
.cpanel .djlic_box .djlic_invalid .djlic_icon{
    background: url(images/lic_icon_invalid.gif) top left no-repeat;
}

.cpanel .djlic_box .djlic_valid {
    margin-top: 20px;
    background: #c8efbb;
    border: 1px solid #93c183;
    padding: 25px 10px 10px 10px;
    color:#73b172;
    text-align: center;
    display: block;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.8;
}
.cpanel .djlic_box .djlic_valid .djlic_icon{
    background: url(images/lic_icon_valid.gif) top left no-repeat;
}

.cpanel .djlic_box .djlic_expired {
    margin-top:20px;
    padding:20px;
}
.cpanel .djlic_box .djlic_expired_in{
    background: #fff7db;
    border: 1px solid #FF9F0D;
    border-radius: 0px;
    padding: 25px 10px 10px 10px;
    color:#FF9F0D;
    text-align: center;
    display: block;
    position: relative;
}
.cpanel .djlic_box .djlic_expired .djlic_icon{
    background: url(images/lic_icon_expired.gif) top left no-repeat;
}
.cpanel .djlic_box .djlic_expired a:not(.btn){
    display:block;
    color:#FF9F0D;
}

.cpanel .djlic_box .djlic_expired .djlic_iline1{
    font-weight: normal;
    display: block;
    text-transform: uppercase;
}

.cpanel .djlic_box .djlic_expired .djlic_iline2 {
display: block;
font-size: 14px;
font-weight: normal;
margin: 6px 10px;
}
.cpanel .djlic_box .djlic_expired .djlic_iline4{
    margin: 0px 0 10px;
    display: block;
    font-size: 15px;
}
.cpanel .djlic_box .djlic_expired .djlic_iline3{
    margin: 15px 0 5px;
    display: block;
    text-transform: uppercase;
}
.cpanel .djlic_box .djlic_expired .djlic_iline5 {
font-size: 9px;
text-transform: uppercase;
line-height: 11px;
}
.cpanel .djlic_box .djlic_expired .djlic_iline6{
    margin-bottom:10px;
    display: block;
}	
