.pane-sliders h3.title {
	padding: 5px;
}
.inputbox, select, input, textarea {
	padding: 4px;
	color: #333;
}
.button2-left {
	margin-top: 5px;
}
.media-preview {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.djtitle {
	display: inline-block;
	background: #f7f7f7;
	color: #2678CD;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin-top: 10px;
	text-indent: 10px;
}
.panel fieldset.panelform .djtitle label,
form div.current .djtitle label {
	max-width: 100%;
	text-align: left;
	padding: 2px 0;
	
}
.djsep {
	display: inline-block;
	border-top: 1px solid #ccc;
	width: 100%;
	margin-top: 10px;
}
.djinfo {
	display: inline-block;
	background: #C3D2E5;
	color: #0055BB;
	border: 1px solid #84A7DB;
	width: 98%;
	margin: 5px 0;
}
.djnotice {
	display: inline-block;
	background: #fcc;
	color: #c00;
	border: 1px solid #c00;
	width: 98%;
	margin: 5px 0;
}
.panel fieldset.panelform .djinfo label,
form div.current .djinfo label,
div fieldset.adminform .djinfo label,
.panel fieldset.panelform .djnotice label,
form div.current .djnotice label,
div fieldset.adminform .djnotice label {
	max-width: 100%;
	text-align: left;
	padding: 5px 10px;
	
}
.panel fieldset.panelform label, 
.panel fieldset.panelform div.paramrow label, 
.panel fieldset.panelform span.faux-label {
	padding: 5px 10px 5px 0;
	text-align: right;
}
form div.current label, 
form div.current span.faux-label {
	margin: 3px 0 !important;
	padding: 5px 10px 5px 0;
	text-align: right;
}
ul#rules table.group-rules td label {
	text-align: left;
}
div fieldset.adminform label, 
div fieldset.adminform span.faux-label {
	padding: 5px 0;
}
div fieldset.adminform fieldset.radio,
.panel fieldset.panelform fieldset.radio {
	padding-top: 5px;
}
form div.current fieldset.radio label,
div fieldset.adminform fieldset.radio label, 
.panel fieldset.panelform fieldset.radio label {
	padding: 0 10px 0 0;
	text-align: left;
}
form div.current select {
	margin-bottom:0;
}

div.plgParams {
	background: #f5f5f5;
	border: 1px solid #ccc;
	padding: 5px 20px;
	margin: 10px 0;
	clear:both;
}
div#plgParams_component {
	padding: 5px 0;
	background: 0;
	border: 0;
}
img.ajax-loader {
	padding: 3px;
	vertical-align: middle;
}
.djvideo_preview {
	clear: both;
	padding-left: 135px;
}
.djvideo_preview img {
	margin: 0 0 0 10px;
	float: none;
}
span.djinlineinfo {
	display: inline-block;
	color: #aaa;
	font-weight: bold;
	margin: 5px;
	padding: 5px;	
}

#albumItemsWrap {
	margin: 0 0 10px 0;
}
#albumItems .albumItem {
	position: relative;
	float: left;
	margin: 0 2px 2px 0;
	overflow: hidden;
}
#albumItems .albumItem img {
	float: none;
	margin: 0;
	padding: 0;
	height: 150px;
}
#albumItems .albumItem .itemMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(bg.png) repeat;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	cursor: move;
}
#albumItems .albumItem:hover .itemMask,
#albumItems .albumItem.active .itemMask {
	opacity: 1;
}
#albumItems input.itemInput {
	position: absolute;
	bottom: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding: 6px 6px 6px 28px;
	margin: 0;
	border: 0;
	width: 100%;
	background-color: transparent;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#albumItems input.itemInput:focus {
	/* old browsers */
	background-color: rgb(50, 50, 50);
	/* modern browsers */
	background-color: rgba(255, 255, 255, 0.25);
}
#albumItems .itemMask input.editTitle {
	background-image: url(edit.png);
	background-position: 6px center;
	background-repeat: no-repeat;
}
#albumItems .albumItem .delBtn {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 32px;
	height: 32px;
	background: url(delete.png) no-repeat;
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
#albumItems .albumItem .delBtn:hover {
	opacity: 1;
}


.djfolderlist ul {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ebebeb;
	background: #f7f7f7;
}
.djfolderlist ul li {
	list-style: none outside;
	display: inline-block;
}
.djfolderlist ul li a {
	display: inline-block;
	width: 200px;
	padding: 5px 10px;
	cursor: pointer;
}
.djfolderlist ul li a:hover {
	background: #e3e3e3;
	text-decoration: none;
}